@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  body {
    @apply bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 bg-[length:300%]
    animate-bg-gradient;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

[data-todo-list]::-webkit-scrollbar {
  width: 18px;
}

[data-todo-list]::-webkit-scrollbar-thumb {
  border-left: 2px solid transparent;
  border-right: 8px solid transparent;
  background-clip: padding-box;
}
